<div class="site-page-loading">
  <div class="site-page-loading-inner">
    {{#ifequal loading 'caption'}}
    <div class="page-loading-captions">
      <div class="page-loading-captions-wrapper">
        <div class="page-loading-captions-inner">
          <div class="page-loading-caption">Welcome</div>
          <div class="page-loading-caption">Svaagat He</div>
          <div class="page-loading-caption">Willkommen</div>
          <div class="page-loading-caption">Eoseo Osibsio</div>
          <div class="page-loading-caption">Tonga Soa</div>
        </div><!-- page-loading-captions-inner -->
        </div><!-- page-loading-captions-wrapper -->
      </div><!-- page-loading-captions -->
    {{else}}
      <div class="page-loading-count">00%</div>
    {{/ifequal}}
  </div><!-- site-page-loading-inner -->
  <div class="site-page-loading-bg"></div>
</div><!-- site-page-loading -->