<div class="site-subheader desktop-only">
  <div class="container">
    <div class="site-subheader-inner">
      <div class="column">
        <nav class="site-navigation menu-horizontal">
          <ul class="menu">
            <li class="menu-item"><a href="#"><i class="pp-phone"></i> +375 25 522 18 48</a></li>
            <li class="menu-item"><a href="#"><i class="pp-mail"></i> hello@zaroko.com</a></li>
            <li class="menu-item"><a href="#">About Us</a></li>
            <li class="menu-item"><a href="#">Contact Us</a></li>
          </ul>
        </nav><!-- site-navigation -->
      </div><!-- column -->
      <div class="column">
        <nav class="site-navigation menu-horizontal">
          <ul class="menu">
            <li class="menu-item"><a href="#"><i class="klb-icon-map-pin"></i> Find Store</a></li>
            <li class="menu-item"><a href="#"><i class="klb-icon-package"></i> Order Tracking</a></li>
            <li class="menu-item menu-item-has-children">
              <a href="#">USD</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#">EUR</a></li>
                <li class="menu-item"><a href="#">SAR</a></li>
                <li class="menu-item"><a href="#">CAN</a></li>
              </ul><!-- sub-menu -->
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="#">English</a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#">Germany</a></li>
                <li class="menu-item"><a href="#">Spanish</a></li>
                <li class="menu-item"><a href="#">Turkce</a></li>
              </ul><!-- sub-menu -->
            </li>
          </ul>
        </nav><!-- site-menu -->
      </div><!-- column -->
    </div><!-- site-subheader-inner -->
  </div><!-- container -->
</div><!-- site-subheader -->