@use '../utils/' as *;
@use './root' as *;

.site-footer-iconbox {
  .site-footer-inner {
    padding-top: rem(30);
    padding-bottom: rem(30);
    @include min(lg) {
      padding-top: rem(52);
      padding-bottom: rem(52);
    }
  }
  .site-iconbox {
    .iconbox-icon {
      color: color(footer-link);
      @include min(lg) {
        width: 28px;
        height: auto;
        margin-top: rem(4);
      }
    }
    .iconbox-content {
      .entry-title {
        font-size: rem(18);
        font-weight: 700;
        color: color(footer-link);
        @include min(lg) {
          font-size: rem(26);
          letter-spacing: -0.03em;
          margin-bottom: rem(2);
        }
        a {
          color: currentColor;
          text-decoration: none;
        }
      }
    }
  }
}