<div class="site-subscribe-lightbox" data-expires="15">
  <div class="site-subscribe-lightbox-inner">
    <div class="lightbox-column media-column">
      <img src="assets/img/image-22.jpg" alt="">
    </div><!-- lightbox-column -->
    <div class="lightbox-column content-column">
      <h2 class="lightbox-title">Subscribe to our newsletter</h2>
      <p class="lightbox-description">Whether you’re welcoming new contacts or sharing the latest news, you can make your business look good in just a few clicks.</p>
      <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-2851" method="post" data-id="2851" data-name="#">
        <div class="mc4wp-form-fields">
          <input class="subscribe-input" type="email" name="EMAIL" placeholder="Enter your email address" required="">
          <button class="btn btn-black" type="submit">Subscribe</button>

        </div>
        <label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label>
        <input type="hidden" name="_mc4wp_timestamp" value="1673690699">
        <input type="hidden" name="_mc4wp_form_id" value="2851">
        <input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
        <div class="mc4wp-response"></div>
      </form>

      <a href="#" class="btn btn-link close-popup-button">No Thanks</a>
    </div><!-- lightbox-column -->
    {{> close-button}}
  </div><!-- site-subscribe-lightbox-inner -->
  <div class="site-subscribe-lightbox-overlay site-overlay"></div>
</div>