<div class="site-section margin-top" style="--mt: 36px; --mt-md: 56px; --mt-lg: 86px;">
  <div class="container">
    <div class="site-section-inner">
      <div class="row gap-y-30">
        <div class="col-12 col-lg-4">
          <div class="post inview-element" data-inview-animation="transformY">
            <div class="entry-post-thumbnail">
              <a href="#" class="post-thumbnail">
                <img src="assets/img/blog-post-01.jpg" alt="Blog Image">
              </a>
              <div class="post-hover-overlay">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
                  <path d="M20.0001 11.9998L4.00012 11.9998" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M15.0003 17C15.0003 17 20.0002 13.3176 20.0002 12C20.0002 10.6824 15.0002 7 15.0002 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div><!-- post-hover-overlay -->
            </div><!-- entry-post-thumbnail -->
            <div class="entry-post-content">
              <div class="entry-post-category">
                <a href="#">Yoga</a>
              </div><!-- entry-post-category -->
              <h3 class="entry-post-title">
                <a href="#" class="underlined-link">Finding Balance, How Yoga Transforms Mind and Body</a>
              </h3><!-- entry-post-title -->
              <div class="entry-post-meta">
                <div class="meta-item post-author">
                  <span>by <a href="#">Charlotta Isaksson</a></span>
                </div><!-- meta-item -->
                <div class="meta-item post-date">
                  <span>2024-01-01</span>
                </div><!-- meta-item -->
              </div><!-- entry-post-meta -->
            </div><!-- entry-post-content -->
          </div><!-- post -->
        </div><!-- col-12 -->
        <div class="col-12 col-lg-4">
          <div class="post inview-element" data-inview-animation="transformY">
            <div class="entry-post-thumbnail">
              <a href="#" class="post-thumbnail">
                <img src="assets/img/blog-post-02.jpg" alt="Blog Image">
              </a>
              <div class="post-hover-overlay">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
                  <path d="M20.0001 11.9998L4.00012 11.9998" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M15.0003 17C15.0003 17 20.0002 13.3176 20.0002 12C20.0002 10.6824 15.0002 7 15.0002 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div><!-- post-hover-overlay -->
            </div><!-- entry-post-thumbnail -->
            <div class="entry-post-content">
              <div class="entry-post-category">
                <a href="#">Yoga</a>
              </div><!-- entry-post-category -->
              <h3 class="entry-post-title">
                <a href="#" class="underlined-link">Unwind and Align, The Magic Daily Yoga Practice</a>
              </h3><!-- entry-post-title -->
              <div class="entry-post-meta">
                <div class="meta-item post-author">
                  <span>by <a href="#">Charlotta Isaksson</a></span>
                </div><!-- meta-item -->
                <div class="meta-item post-date">
                  <span>2024-01-01</span>
                </div><!-- meta-item -->
              </div><!-- entry-post-meta -->
            </div><!-- entry-post-content -->
          </div><!-- post -->
        </div><!-- col-12 -->
        <div class="col-12 col-lg-4">
          <div class="post inview-element" data-inview-animation="transformY">
            <div class="entry-post-thumbnail">
              <a href="#" class="post-thumbnail">
                <img src="assets/img/blog-post-03.jpg" alt="Blog Image">
              </a>
              <div class="post-hover-overlay">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
                  <path d="M20.0001 11.9998L4.00012 11.9998" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M15.0003 17C15.0003 17 20.0002 13.3176 20.0002 12C20.0002 10.6824 15.0002 7 15.0002 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div><!-- post-hover-overlay -->
            </div><!-- entry-post-thumbnail -->
            <div class="entry-post-content">
              <div class="entry-post-category">
                <a href="#">Yoga</a>
              </div><!-- entry-post-category -->
              <h3 class="entry-post-title">
                <a href="#" class="underlined-link">The Art of Stillness, How Yoga Enhances Mental Clarity</a>
              </h3><!-- entry-post-title -->
              <div class="entry-post-meta">
                <div class="meta-item post-author">
                  <span>by <a href="#">Charlotta Isaksson</a></span>
                </div><!-- meta-item -->
                <div class="meta-item post-date">
                  <span>2024-01-01</span>
                </div><!-- meta-item -->
              </div><!-- entry-post-meta -->
            </div><!-- entry-post-content -->
          </div><!-- post -->
        </div><!-- col-12 -->
      </div><!-- row -->
    </div><!-- site-section-inner -->
  </div><!-- container -->
</div><!-- site-section -->