<!-- PLUGINS CSS -->
<link rel="stylesheet" href="./assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="./assets/css/swiper-bundle.min.css" type="text/css">
<link rel="stylesheet" href="./assets/css/photoswipe.css" type="text/css">

<!-- BASE CSS -->
<link rel="stylesheet" href="./assets/css/pixel-perfect.css" type="text/css">
<link rel="stylesheet" href="./assets/css/pixel-perfect-social.css" type="text/css">
<link rel="stylesheet" href="./assets/css/base.css" type="text/css">