<script type="text/javascript" src="./assets/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="./assets/js/lazyload.min.js"></script>
<script type="text/javascript" src="./assets/js/split-type.min.js"></script>
<script type="text/javascript" src="./assets/js/motion.js"></script>
<script type="text/javascript" src="./assets/js/swiper-bundle.min.js"></script>
<script type="text/javascript" src="./assets/js/hover-slider.js"></script>
<script type="text/javascript" src="./assets/js/js.cookie.min.js"></script>
<script type="text/javascript" src="./assets/js/photoswipe.umd.min.js"></script>
<script type="text/javascript" src="./assets/js/photoswipe-lightbox.umd.min.js"></script>
<script type="text/javascript" src="./assets/js/bundle.js"></script>
