<div class="custom-background padding-top padding-bottom" style="--background: #FCF9FF; --pt: 86px; --pt-md: 126px; --pt-lg: 156px; --pb: 46px; --pb-md: 66px; --pb-lg: 96px;">
  <div class="site-section">
    <div class="container">
      <div class="site-section-inner">
        <div class="row gap-y-30 align-items-center">
          <div class="col-12 col-lg-5">
            <div class="margin-right position-relative z-2" style="--mr: 0; --mr-md: -86px; --mr-lg: -120px;">
              <div class="margin-bottom desktop-only" style="--mb: 20px; --mb-md: 30px; --mb-lg: 40px;">
                <div class="site-avatar-content">
                  <div class="avatars">
                    <div class="avatar">
                      <img src="assets/img/avatar-01.jpg" alt="">
                    </div><!-- avatar -->
                    <div class="avatar">
                      <img src="assets/img/avatar-02.jpg" alt="">
                    </div><!-- avatar -->
                    <div class="avatar">
                      <img src="assets/img/avatar-03.jpg" alt="">
                    </div><!-- avatar -->
                  </div><!-- avatars -->
                  <div class="avatars-content">
                    <div class="avatars-content-heading">
                      <div class="rating-stars">
                        <i class="pp-star"></i>
                        <i class="pp-star"></i>
                        <i class="pp-star"></i>
                        <i class="pp-star"></i>
                        <i class="pp-star"></i>
                      </div><!-- rating-stars -->
                      <div class="rating-text">Trusted by 7.3K userss.</div>
                    </div><!-- avatars-content-heading -->
                    <p>Join us and make your life colourful</p>
                  </div><!-- avatars-content -->
                </div><!-- site-avatar-content -->
              </div><!-- margin-bottom -->
              <div class="site-text-block">
                <div class="text-block-header">
                  <h1 class="entry-title title-6xl font-semibold tracking-tighter split-text" data-split-style="split-style-1" data-split-duration="0.3" data-split-type="words">Explorer the <span class="text-primary">wonders</span> of inner peace of mind</h1>
                </div><!-- text-block-header -->
                <div class="text-block-body">
                  <div class="entry-description description-lg font-light">
                    <p class="split-text" data-split-style="split-style-7" data-split-duration="0.6" data-easings="power1InOut" data-split-type="lines">Preling fapyskap i dovar. Adotir flipperförälder. Okåns båferade fast fal. Diangen predade och näringslots. Diktig prede. Degraf nessa i antiism. Abdiktisk autot semidiktisk. Hypobel demotyp fasast. Planar kådopp. Mikrohet nygen. </p>
                  </div><!-- entry-description -->
                </div><!-- text-block-body -->
                <div class="entry-actions d-flex align-items-center gap-x-10">
                  <a href="#" class="btn btn-black btn-large inview-element" data-inview-animation="fade">Get started <i class="pp-arrow-up-right"></i></a>
                  <a href="#" class="btn btn-secondary btn-transparent btn-large inview-element" data-inview-animation="fade">Subscribe Now</a>
                </div><!-- entry-actions -->
              </div><!-- site-text-block -->
              <div class="margin-top d-flex align-items-center gap-4 max-width desktop-only" style="--mt: 20px; --mt-md: 60px; --mt-lg: 96px; --max-w: 300px; --max-w-md: 380px; --max-w-lg: 420px;">
                <div class="flex-grow-1 width" style="--w: 38px; --w-md: 42px; --w-lg: 48px;">
                  <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="48" height="48" rx="24" fill="#8173CA" fill-opacity="0.26"/>
                    <g clip-path="url(#clip0_9_1259)">
                    <path d="M36.9801 20.4033C36.9232 20.2227 36.756 20.1 36.5667 20.1H27.2973L24.4048 12.5778C24.3406 12.41 24.1796 12.2991 24 12.2991C23.8204 12.2991 23.6595 12.41 23.5953 12.5778L20.7028 20.1H11.4334C11.244 20.1001 11.0769 20.2232 11.0202 20.4038C10.9636 20.5844 11.0308 20.7811 11.1864 20.889L18.4581 25.9351L14.9286 35.1111C14.8613 35.2883 14.917 35.4884 15.0659 35.6054C15.2147 35.7227 15.4224 35.7294 15.5786 35.6223L24 29.7802L32.4197 35.6223C32.4922 35.6729 32.5785 35.7 32.6667 35.7C32.7639 35.7001 32.858 35.6676 32.9342 35.6072C33.0838 35.4899 33.1397 35.2887 33.0714 35.1111L29.542 25.9351L36.8137 20.889C36.9694 20.7811 37.0369 20.5843 36.9801 20.4033Z" fill="white"/>
                    <path d="M35.2666 17.0667V16.2C33.5924 16.202 32.2353 17.5591 32.2333 19.2333H33.0999C33.1015 18.0373 34.0705 17.0682 35.2666 17.0667Z" fill="white"/>
                    <path d="M36.1333 16.2H37V17.0667H36.1333V16.2Z" fill="white"/>
                    <path d="M18.8 11.8667C19.9961 11.8682 20.9652 12.8373 20.9667 14.0333H21.8334C21.8314 12.3591 20.4743 11.002 18.8 11V11.8667Z" fill="white"/>
                    <path d="M17.0667 11H17.9333V11.8667H17.0667V11Z" fill="white"/>
                    <path d="M32.6667 14.4667C32.6667 14.2273 32.4727 14.0333 32.2334 14.0333C31.5155 14.0333 30.9334 13.4512 30.9334 12.7333C30.9334 12.494 30.7394 12.3 30.5 12.3C30.2607 12.3 30.0667 12.494 30.0667 12.7333C30.0667 13.4512 29.4846 14.0333 28.7667 14.0333C28.5274 14.0333 28.3334 14.2273 28.3334 14.4667C28.3334 14.706 28.5274 14.9 28.7667 14.9C29.4846 14.9 30.0667 15.4821 30.0667 16.2C30.0667 16.4393 30.2607 16.6333 30.5 16.6333C30.7394 16.6333 30.9334 16.4393 30.9334 16.2C30.9334 15.4821 31.5155 14.9 32.2334 14.9C32.4727 14.9 32.6667 14.706 32.6667 14.4667Z" fill="white"/>
                    <path d="M11 13.1667C11 13.406 11.194 13.6 11.4333 13.6C12.1512 13.6 12.7333 14.1821 12.7333 14.9C12.7333 15.1393 12.9273 15.3333 13.1667 15.3333C13.406 15.3333 13.6 15.1393 13.6 14.9C13.6 14.1821 14.1821 13.6 14.9 13.6C15.1393 13.6 15.3333 13.406 15.3333 13.1667C15.3333 12.9273 15.1393 12.7333 14.9 12.7333C14.1821 12.7333 13.6 12.1512 13.6 11.4333C13.6 11.194 13.406 11 13.1667 11C12.9273 11 12.7333 11.194 12.7333 11.4333C12.7333 12.1512 12.1512 12.7333 11.4333 12.7333C11.194 12.7333 11 12.9273 11 13.1667Z" fill="white"/>
                    <path d="M36.1333 11H37V11.8667H36.1333V11Z" fill="white"/>
                    <path d="M15.7667 14.4667H16.6334V15.3333H15.7667V14.4667Z" fill="white"/>
                    <path d="M11 17.5H11.8667V18.3667H11V17.5Z" fill="white"/>
                    <path d="M14.4667 18.3666H15.3333V19.2333H14.4667V18.3666Z" fill="white"/>
                    <path d="M34.4 11H35.2667V11.8667H34.4V11Z" fill="white"/>
                    <path d="M35.2666 27.4667C33.5924 27.4687 32.2353 28.8258 32.2333 30.5H33.0999C33.1015 29.3039 34.0705 28.3349 35.2666 28.3333V27.4667Z" fill="white"/>
                    <path d="M36.1333 27.4667H37V28.3333H36.1333V27.4667Z" fill="white"/>
                    <path d="M14.8999 25.7333C14.8984 26.9294 13.9293 27.8985 12.7333 27.9V28.7667C14.4075 28.7646 15.7646 27.4076 15.7666 25.7333H14.8999Z" fill="white"/>
                    <path d="M11 27.9H11.8667V28.7667H11V27.9Z" fill="white"/>
                    <path d="M11 36.1334H11.8667V37H11V36.1334Z" fill="white"/>
                    <path d="M21.8334 33.1H22.7V33.9666H21.8334V33.1Z" fill="white"/>
                    <path d="M26.6 36.1334H27.4666V37H26.6V36.1334Z" fill="white"/>
                    <path d="M36.1333 36.1334H37V37H36.1333V36.1334Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_9_1259">
                    <rect width="26" height="26" fill="white" transform="translate(11 11)"/>
                    </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="entry-icon-content description-2xs text-gray-500">
                  <p class="mb-0">Our yoga teacher <strong>Anette Lundberg</strong>, who is an expert in his profession, has won an award in yoga. Him course will start on <strong>August 29th</strong>.</p>
                </div><!-- entry-icon-content -->
              </div><!-- margin-top -->
            </div>
          </div><!-- col -->
          <div class="col-12 col-lg-5 position-relative">
            <div class="margin-left position-relative" style="--ml: 0; --ml-md: -86px; --ml-lg: -120px;">
              <div class="entry-media position-relative d-flex align-items-center overflow-hidden rounded-base inview-element max-height" data-inview-animation="transformY" style="--max-h: 480px; --max-h-md: 840px; --max-h-lg: 840px;">
                <a href="#" class="d-flex align-items-center w-100 h-100">
                  <img src="assets/img/hero-02.jpg" alt="">
                </a>
              </div><!-- entry-media -->
              <div class="position-absolute bottom right w-100 max-width" style="--b: 10px; --r: 10px; --b-md: 40px; --r-md: -20%; --b-lg: 60px; --r-lg: -36%; --max-w: 300px; --max-w-md: 340px; --max-w-lg: 360px;">
                <div class="text-right description-2xs text-gray-500 mb-2">
                  Mon - Thu. 09:00 - 17:00
                </div>
                <div class="site-instructor-box box-secondary inview-element" data-inview-animation="fade">
                  <div class="instructor-box-inner">
                    <div class="instructor-avatar">
                      <img src="assets/img/trainer-avatar-01.jpg" alt="Instructor">
                    </div><!-- instructor-avatar -->
                    <div class="instructor-content">
                      <div class="instructor-info">
                        <h6 class="instructor-name">Gunnel Eliasson</h6>
                        <p class="instructor-role">Lead Trainer</p>
                      </div><!-- instructor-info -->
                      <a href="#" class="btn btn-primary btn-small">Book Now</a>
                    </div><!-- instructor-content -->
                  </div><!-- instructor-box-inner -->
                </div><!-- site-instructor-box -->
              </div>
            </div><!-- margin-left -->
          </div><!-- col -->
          <div class="col-12 col-lg-2 align-self-start">
            <div class="margin-top" style="--mt: 0px; --mt-md: 0px; --mt-lg: 56px;">
              <div class="d-inline-flex align-items-center justify-content-between flex-wrap w-100 mb-3">
                <h4 class="entry-subtitle subtitle-sm font-semibold tracking-tighter mb-0">Barbro Forsberg</h4>
                <div class="rating-stars text-yellow">
                  <i class="pp-star"></i>
                  <i class="pp-star"></i>
                  <i class="pp-star"></i>
                  <i class="pp-star"></i>
                  <i class="pp-star"></i>
                </div><!-- rating-stars -->
              </div>
              <div class="entry-description description-2xs text-gray-500 mb-5">
                <p>Prens prest. Krongen bena feng. Hör såsom poska. Retism preska. Percism bing. Ast heterotism i tefili. Antesk tempotion. Plaligen or. </p>
              </div><!-- entry-description -->
              <h4 class="entry-title title-xl tracking-tighter font-semibold mb-0 leading-none">3000+</h4>
              <span class="description-2xs text-gray-500">Happ Customers</span>
            </div><!-- margin-top -->
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- site-section-inner -->
    </div><!-- container -->
  </div><!-- site-section -->
</div><!-- custom-background -->