<div class="site-section section-hero overlay-content">
  <div class="section-hero-inner position-relative z-2">
    <div class="container h-100">
      <div class="site-section-inner d-flex flex-column justify-content-end justify-content-lg-between align-items-start padding-top padding-bottom h-100" style="--pt: calc(var(--theme-header-height) + 20px); --pt-md: calc(var(--theme-header-height) + 20px); --pt-lg: calc(var(--theme-header-height-desktop) + 80px); --pb: 20px; --pb-md: 20px; --pb-lg: 60px;">
        <div class="site-text-block text-white max-width" style="--max-w: 100%; --max-w-md: 80%; --max-w-lg: 90%;">
          <div class="text-block-header">
            <h5 class="entry-subtitle subtitle-sm badge badge-text badge-text-white badge-rounded inview-element" data-inview-animation="fade">Kosa völig porar reaaktiv dida</h5>
            <h1 class="entry-title title-8xl font-semibold tracking-tighter split-text" data-split-style="split-style-1" data-split-duration="0.3" data-split-type="words">Taking care of your
              mental health</h1>
          </div><!-- text-block-header -->
          <div class="text-block-body max-width" style="--max-w: 100%; --max-w-md: 80%; --max-w-lg: 90%;">
            <div class="entry-description description-xl font-light opacity-75">
              <p class="split-text" data-split-style="split-style-2" data-split-duration="0.3" data-easings="power1InOut" data-split-type="chars">Preling fapyskap i dovar. Adotir flipperförälder. Okåns båferade fast fals.</p>
            </div><!-- entry-description -->
          </div><!-- text-block-body -->
          <div class="entry-actions d-flex align-items-center gap-x-10">
            <a href="#" class="btn btn-white btn-large inview-element" data-inview-animation="fade">Get started <i class="pp-arrow-up-right"></i></a>
            <a href="#" class="btn btn-white btn-transparent btn-large inview-element" data-inview-animation="fade">Subscribe Now</a>
          </div><!-- entry-actions -->
        </div><!-- site-text-block -->
        <div class="site-hero-counter d-flex align-items-center justify-content-start justify-content-lg-end w-100 text-white">
          <div class="counter-item d-inline-flex flex-column align-items-start">
            <span class="counter-number title-2xl font-medium tracking-tighter leading-none">10.000</span>
            <span class="counter-text description-sm opacity-75">Happy Students</span>
          </div><!-- count-item -->
          <div class="counter-item d-inline-flex flex-column align-items-start">
            <span class="counter-number title-2xl font-medium tracking-tighter leading-none">5.000+</span>
            <span class="counter-text description-sm opacity-75">Classes Streamed Monthly</span>
          </div><!-- count-item -->
          <div class="counter-item d-inline-flex flex-column align-items-start desktop-only">
            <span class="counter-number title-2xl font-medium tracking-tighter leading-none">95%</span>
            <span class="counter-text description-sm opacity-75">Member Satisfaction</span>
          </div><!-- count-item -->
        </div><!-- site-hero-counter -->
      </div><!-- site-section-inner -->
    </div><!-- container -->
  </div><!-- section-hero-inner -->
  <div class="entry-media media-overlay primary-overlay height" style="--h: 70dvh; --h-md: 90dv; --h-lg: 100dvh; --media-overlay-opacity: 0.3;">
    <video src="assets/img/video-05.mp4" autoplay muted loop playsinline></video>
  </div><!-- entry-media -->
</div><!-- site-section -->