<div class="site-section section-hero overlay-content position-relative overflow-hidden">
  <div class="section-hero-inner header-padding position-relative d-flex align-items-end align-items-lg-center h-100 z-2">
    <div class="container position-relative">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <div class="site-text-block position-relative z-1 text-white padding-top padding-bottom" style="--pt: 10px; --pt-md: 0; --pt-lg: 0; --pb: 20px; --pb-md: 0; --pb-lg: 0;">
            <div class="text-block-header">
              <h5 class="entry-subtitle subtitle-sm badge badge-text badge-text-white badge-rounded inview-element" data-inview-animation="fade">Kosa völig porar reaaktiv dida</h5>
              <h1 class="entry-title title-7xl font-bold tracking-tighter split-text" data-split-style="split-style-1" data-split-duration="0.3" data-split-type="words">Clear your mind whenever you want, <span class="custom-color" style="--color: #DBF339;">wherever you are</span></h1>
            </div><!-- text-block-header -->
            <div class="text-block-body">
              <div class="entry-description description-xl font-light">
                <p class="desktop-only split-text" data-split-style="split-style-7" data-split-duration="0.6" data-easings="power1InOut" data-split-type="lines">Preling fapyskap i dovar. Adotir flipperförälder. Okåns båferade fast fal. Diangen predade och näringslots. Diktig prede. Degraf nessa i antiism. Abdiktisk autot semidiktisk. Hypobel demotyp fasast. Planar kådopp. Mikrohet nygen. Demostat endomodern eftersom får.</p>
                <p class="mobile-only split-text" data-split-style="split-style-7" data-split-duration="0.6" data-easings="power1InOut" data-split-type="lines">Preling fapyskap i dovar. Adotir flipperförälder. Okåns båferade fast fals. Diangen predades och näringslots. Diktig prede. Degraf nessa i antiism.</p>
              </div><!-- entry-description -->
            </div><!-- text-block-body -->
            <div class="entry-actions d-flex align-items-center gap-x-10">
              <a href="#" class="btn btn-white btn-large inview-element" data-inview-animation="fade">Get started <i class="pp-arrow-up-right"></i></a>
              <a href="#" class="btn btn-white btn-transparent btn-large inview-element" data-inview-animation="fade">Subscribe Now</a>
            </div><!-- entry-actions -->
          </div><!-- site-text-block -->
          <div class="site-instructor-box box-white box-transparent margin-top margin-bottom inview-element for-hero-large" data-inview-animation="fade" style="--mt: 0; --mt-md: 56px; --mt-lg: 146px; --mb: 20px; --mb-md: 56px; --mb-lg: 66px;">
            <div class="instructor-box-inner">
              <div class="instructor-avatar">
                <img src="assets/img/trainer-avatar-01.jpg" alt="Instructor">
              </div>
              <div class="instructor-content">
                <div class="instructor-info">
                  <h6 class="instructor-name">Gunnel Eliasson</h6>
                  <p class="instructor-role">Lead Trainer</p>
                </div>
                <a href="#" class="btn btn-white btn-small">Book Now</a>
              </div>
            </div>
            <div class="instructor-box-rating">
              <div class="rating-stars">
                <i class="pp-star"></i>
                <i class="pp-star"></i>
                <i class="pp-star"></i>
                <i class="pp-star"></i>
                <i class="pp-star"></i>
              </div>
              <div class="rating-text">Trusted by 7.3K userss.</div>
            </div>
          </div>

          <div class="site-hero-dot text-white position-absolute top right text-right inview-element" data-inview-animation="fade" style="--t: -18%; --t-md: 10%; --t-lg: -9%; --r: 30%; --r-md: 10%; --r-lg: 23%;">
            <div class="hero-dot-content">
              <h5 class="entry-title">Balance of minds</h5>
              <p>Antropogram radiotos tossa krosk.</p>
            </div><!-- hero-dot-content -->
            <div class="hero-dot"><span></span></div>
          </div><!-- site-hero-dot -->
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- section-hero-inner -->
  <div class="entry-media height custom-background" style="--h: 75dvh; --h-md: 70dvh; --h-lg: 100dvh; --background: #323121;">
    <picture>
      <source
        media="(min-width: 568px)"
        data-srcset="assets/img/hero-01.jpg"
      />
      <source
        media="(max-width: 567px)"
        data-srcset="assets/img/hero-01-568w.jpg"
      />
      <img
        class="lazy"
        src="assets/img/hero-01-568w.jpg"
        data-src="assets/img/hero-01-568w.jpg"
        alt="Clear your mind whenever you want, wherever you are"
      />
    </picture>
  </div><!-- entry-media -->
</div><!-- site-section -->
