<div class="site-section margin-top" style="--mt: 30px; --mt-md: 46px; --mt-lg: 66px;">
  <div class="container">
    <div class="site-section-inner">
      <div class="row gap-y-20">
        <div class="col-12 col-lg-6">
          <div class="site-banner inview-element" data-inview-animation="transformY">
            <div class="banner-content">
              <div class="banner-inner">
                <div class="banner-text max-width" style="--max-w: 60%; --max-w-md: 60%; --max-w-lg: 60%;">
                  <h3 class="entry-title title-sm font-semibold tracking-tighter">Pregnant Yoga</h3>
                  <div class="entry-description font-light text-gray-700 description-md">
                    <p>Binar paradiktisk krosilig nende hypermani homonynar. Tiguk stereotris bibeföns alltså pogt krosilig nende hypermani.</p>
                  </div><!-- entry-description -->
                  <a href="#" class="btn btn-link">Discover More</a>
                </div><!-- banner-text -->

                <div class="site-instructor-box box-white">
                  <div class="instructor-box-inner">
                    <div class="instructor-avatar">
                      <img src="assets/img/trainer-avatar-02.jpg" alt="Instructor">
                    </div><!-- instructor-avatar -->
                    <div class="instructor-content">
                      <div class="instructor-info">
                        <h6 class="instructor-name">Gunnel Eliasson</h6>
                        <p class="instructor-role">Yoga Trainer</p>
                      </div><!-- instructor-info -->
                      <a href="#" class="btn btn-black btn-small">Book Now</a>
                    </div><!-- instructor-content -->
                  </div><!-- instructor-box-inner -->
                </div><!-- site-instructor-box -->
              </div><!-- banner-inner -->
            </div><!-- banner-content -->
            <div class="banner-thumbnail height" style="--h: 340px; --h-md: 560px; --h-lg: 580px;">
              <img src="assets/img/image-04.jpg" alt="">
            </div><!-- banner-thumbnail -->
            <a href="#" class="wrap-link"></a>
          </div><!-- site-banner -->
        </div><!-- col -->
        <div class="col-12 col-lg-6">
          <div class="site-banner text-light inview-element" data-inview-animation="transformY">
            <div class="banner-content">
              <div class="banner-inner">
                <div class="banner-text max-width" style="--max-w: 60%; --max-w-md: 60%; --max-w-lg: 60%;">
                  <h3 class="entry-title title-sm font-semibold tracking-tighter">Ashtanga Yoga</h3>
                  <div class="entry-description font-light description-md">
                    <p>Binar paradiktisk krosilig nende hypermani homonynar. Tiguk stereotris bibeföns alltså pogt krosilig nende hypermani.</p>
                  </div><!-- entry-description -->
                  <a href="#" class="btn btn-link">Discover More</a>
                </div><!-- banner-text -->

                <div class="site-instructor-box box-white">
                  <div class="instructor-box-inner">
                    <div class="instructor-avatar">
                      <img src="assets/img/trainer-avatar-03.jpg" alt="Instructor">
                    </div><!-- instructor-avatar -->
                    <div class="instructor-content">
                      <div class="instructor-info">
                        <h6 class="instructor-name">Gunnel Eliasson</h6>
                        <p class="instructor-role">Yoga Trainer</p>
                      </div><!-- instructor-info -->
                      <a href="#" class="btn btn-black btn-small">Book Now</a>
                    </div><!-- instructor-content -->
                  </div><!-- instructor-box-inner -->
                </div><!-- site-instructor-box -->
              </div><!-- banner-inner -->
            </div><!-- banner-content -->
            <div class="banner-thumbnail height" style="--h: 340px; --h-md: 560px; --h-lg: 580px;">
              <img src="assets/img/image-05.jpg" alt="">
            </div><!-- banner-thumbnail -->
            <a href="#" class="wrap-link"></a>
          </div><!-- site-banner -->
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- site-section-inner -->
  </div><!-- container -->
</div><!-- site-section -->