@use '../../utils/' as *;
@use '../root' as *;

.site-header {
  .site-navigation {
    display: none;
    @include min(lg) {
      display: block;
    }
    .menu {
      column-gap: theme('menu-gap');
      a {
        font-family: theme('menu-font');
        font-size: theme('menu-font-size');
        font-weight: theme('menu-font-weight');
        letter-spacing: theme('menu-letter-spacing');
        gap: theme('menu-item-gap');
      }
      .menu-item-has-children {
        & > a {
          &::after {
            --arrow-size: #{theme('menu-arrow-size')};
            --border-width: #{theme('menu-arrow-border')};
          }
        }
      }
      & > .menu-item-has-children {
        &:after {
          content: '';
          display: block;
          position: fixed;
          width: 100%;
          height: 100%;
          left: 0;
          top: calc(var(--header-height-desktop, var(--theme-header-height-desktop)) + rem(1));
          background-color: rgba(color(overlay-background-rgb), color(overlay-background-opacity));
          z-index: 1;
          opacity: 0;
          pointer-events: none;
          transition: opacity .25s theme(navigation-transition);
        }
        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
