<div class="site-logos" style="--logo-desktop-height: 82px; --logo-mobile-height: 66px;">
  <div class="site-logos-inner animation-marquee" style="--marquee-speed: 45s; --marquee-gap-desktop: 28px; --marquee-gap-mobile: 30px;">
    <div class="marquee-column">
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-01.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-02.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-03.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-04.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-05.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-06.png"></div>
    </div><!-- marquee-column -->
    <div class="marquee-column">
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-01.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-02.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-03.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-04.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-05.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-06.png"></div>
    </div><!-- marquee-column -->
    <div class="marquee-column">
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-01.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-02.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-03.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-04.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-05.png"></div>
      <div class="marquee-item site-logos-item opacity-50"><img src="assets/img/logo-06.png"></div>
    </div><!-- marquee-column -->
  </div><!-- site-logos-inner -->
</div><!-- site-logos -->