$primary-font: ('Onest', sans-serif);

$theme: (
  'width': 1440px,
  'gutter': 36px,
  'screen-padding': 40px,
  'radius-sm': 8px,
  'radius-base': 10px,
  'radius-lg': 12px,
  'logo-height-mobile': 28px,
  'logo-height-desktop': 32px,
  'body-font': $primary-font,
  'body-font-size': 16px,
  'body-font-weight': 400,
  'body-letter-spacing': -0.01em,
  'body-line-height': 1.6,
  'body-text-align': 'left',
  'heading-font': $primary-font,
  'heading-font-weight': 500,
  'heading-letter-spacing': -0.025em,
  'heading-line-height': 1.2,
  'announcement-font-size': 14px,
  'announcement-font-weight': 500,
  'announcement-height': 44px,
  'action-button-size': 34px,
  'action-button-icon-size': 22px,
  'header-height': 62px,
  'header-height-desktop': 100px,
  'header-gap': 16px,
  'header-gap-desktop': 26px,
  'subheader-height': 40px,
  'subheader-font-size': 13px,
  'subheader-font-weight': 500,
  'subheader-letter-spacing': -0.01em,
  'subheader-gap': 16px,
  'menu-gap': 28px,
  'menu-font': $primary-font,
  'menu-font-size': 16px,
  'menu-font-weight': 500,
  'menu-letter-spacing': -0.01em,
  'menu-arrow-size': 8px,
  'menu-arrow-border': 1px,
  'menu-item-gap': 10px,
  'sub-menu-font-size': 15px,
  'sub-menu-font-weight': 400,
  'sub-menu-letter-spacing': -0.01em,
  'sub-menu-padding': 36px,
  'sub-menu-link-padding': 3px,
  'drawer-menu-font': $primary-font,
  'drawer-menu-font-size': 16px,
  'drawer-menu-font-weight': 500,
  'drawer-menu-letter-spacing': -0.01em,
  'drawer-menu-height': 40px,
  'drawer-sub-menu-font-size': 16px,
  'drawer-sub-menu-font-weight': 400,
  'drawer-sub-menu-letter-spacing': -0.01em,
  'drawer-sub-menu-height': 32px,
  'button-font': $primary-font,
  'button-font-size': 14px,
  'button-font-size-large': 15px,
  'button-font-size-link': 14px,
  'button-font-weight': 600,
  'button-letter-spacing': -0.01em,
  'button-height-small': 40px,
  'button-height': 44px,
  'button-height-large': 50px,
  'input-font': $primary-font,
  'input-font-size': 14px,
  'input-font-size-large': 15px,
  'input-font-weight': 500,
  'input-letter-spacing': -0.01em,
  'input-height': 44px,
  'input-height-large': 50px,
  'footer-text-size': 15px,
  'widget-title-size': 16px,
  'widget-title-weight': 600,
  'widget-title-letter-spacing': -0.01em,
  'sidebar-text-size': 14px,
  'text-3xs': 11px,
  'text-2xs': 12px,
  'text-xs': 13px,
  'text-sm': 14px,
  'text-md': 15px,
  'text-base': 16px,
  'text-lg': 18px,
  'text-xl': 20px,
  'text-2xl': 24px,
  'text-3xl': 30px,
  'text-4xl': 36px,
  'text-5xl': 48px,
  'text-6xl': 56px,
  'text-7xl': 64px,
  'text-8xl': 72px,
  'text-9xl': 80px,
  'text-10xl': 96px,
  'title-sm': 28px,
  'title-base': 36px,
  'title-lg': 48px,
  'title-xl': 56px,
  'title-2xl': 66px,
  'title-3xl': 86px,
  'title-4xl': 96px,
  'primary-transition': cubic-bezier(.7,0,.2,1),
  'secondary-transition': cubic-bezier(.3, 1, .3, 1),
  'navigation-transition': cubic-bezier(.6, 0, .4, 1),
  'inview-animation-duration': 0.4s,
);

$colors: (
  'white': #fff,
  'white-rgb': '255, 255, 255',
  'black': #000,
  'black-rgb': '0, 0, 0',
  'body-background': #fff,
  'body-foreground': #212529,
  'loading-background': #fff,
  'loading-foreground': #212529,
  'overlay-background-opacity': 0.4,
  'overlay-background-rgb': '0, 0, 0',
  'gray-50': #fafafa,
  'gray-100': #f5f5f5,
  'gray-200': #e5e5e5,
  'gray-300': #d4d4d4,
  'gray-400': #a3a3a3,
  'gray-500': #737373,
  'gray-600': #525252,
  'gray-700': #404040,
  'gray-800': #262626,
  'gray-900': #171717,
  'gray-950': #0a0a0a,
  'red': #e11d48,
  'red-light': #fff1f2,
  'red-rgb': '225, 29, 72',
  'green': #16a34a,
  'green-light': #f0fdf4,
  'green-rgb': '34, 197, 94',
  'orange': #f97316,
  'orange-light': #fff7ed,
  'orange-rgb': '249, 115, 22',
  'yellow': #facc15,
  'yellow-rgb': '250, 204, 21',
  'blue': #3b82f6,
  'blue-light': #eff6ff,
  'blue-rgb': '59, 130, 246',
  'primary-background': #8173CA,
  'primary-background-rgb': '129, 115, 202',
  'primary-foreground': #E2E8F0,
  'primary-foreground-rgb': '226, 232, 240',
  'secondary-background': #E2DEF7,
  'secondary-background-rgb': '226, 222, 247',
  'secondary-foreground': #494077,
  'secondary-foreground-rgb': '73, 64, 119',
  'announcement-background': #494077,
  'announcement-foreground': #E2DEF7,
  'header-background': #fff,
  'header-foreground': #212529,
  'subheader-background': #494077,
  'subheader-foreground': #E2DEF7,
  'sub-menu-background': #fff,
  'sub-menu-foreground': #212529,
  'sub-menu-border': #e5e5e5, // #f5f5f5
  'drawer-background': #fff,
  'drawer-foreground': #212529,
  'drawer-border': #e5e5e5,
  'footer-background': #0a0a0a,
  'footer-foreground': #a3a3a3,
  'footer-link': #fff,
  'footer-border': #262626,
)
