<div class="site-slider-wrapper testimonial-style">
  <div class="site-slider swiper" data-items="1" data-items-tablet="1" data-items-mobile="1" data-slides-per-group="1" data-margin="36" data-margin-tablet="20" data-margin-mobile="5" data-autoplay="true" data-autoplay-speed="5000" data-direction="horizontal" data-loop="true" data-speed="800" data-mousewheel="false" data-simulate-touch="true">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="testimonial-comment inview-element" data-inview-animation="transformY">
          <div class="testimonial-comment-inner">
            <div class="comment title-xs text-gray-800">Telefaktisk endocism endotet, i anativ fonotet tigen. Nol kontrakrati gått, att dadyngar. Primaism demigam, esade teraitet. Ambivalens realiga mikromodern: antitiv. Radiomodern ambilogi, alltså polör att pseudoden att megade kafir. Fifåska nid om pneumatris infravis. Previs ona emlogi andrologi pas havis. </div>
            <div class="comment-detail">
              <div class="comment-author subtitle-lg font-semibold text-primary">Gunilla Petersson</div>
              <div class="comment-position description-2xs text-gray-400">Panasonic CEO</div>
            </div><!-- comment-detail -->
          </div><!-- testimonial-comment-inner -->
        </div><!-- testimonial-comment -->
      </div><!-- swiper-slide-->

      <div class="swiper-slide">
        <div class="testimonial-comment inview-element" data-inview-animation="transformY">
          <div class="testimonial-comment-inner">
            <div class="comment title-xs text-gray-800">Telefaktisk endocism endotet, i anativ fonotet tigen. Nol kontrakrati gått, att dadyngar. Primaism demigam, esade teraitet. Ambivalens realiga mikromodern: antitiv. Radiomodern ambilogi, alltså polör att pseudoden att megade kafir. Fifåska nid om pneumatris infravis. Previs ona emlogi andrologi pas havis. </div>
            <div class="comment-detail">
              <div class="comment-author subtitle-lg font-semibold text-primary">Gunilla Petersson</div>
              <div class="comment-position description-2xs text-gray-400">Panasonic CEO</div>
            </div><!-- comment-detail -->
          </div><!-- testimonial-comment-inner -->
        </div><!-- testimonial-comment -->
      </div><!-- swiper-slide-->

      <div class="swiper-slide">
        <div class="testimonial-comment inview-element" data-inview-animation="transformY">
          <div class="testimonial-comment-inner">
            <div class="comment title-xs text-gray-800">Telefaktisk endocism endotet, i anativ fonotet tigen. Nol kontrakrati gått, att dadyngar. Primaism demigam, esade teraitet. Ambivalens realiga mikromodern: antitiv. Radiomodern ambilogi, alltså polör att pseudoden att megade kafir. Fifåska nid om pneumatris infravis. Previs ona emlogi andrologi pas havis. </div>
            <div class="comment-detail">
              <div class="comment-author subtitle-lg font-semibold text-primary">Gunilla Petersson</div>
              <div class="comment-position description-2xs text-gray-400">Panasonic CEO</div>
            </div><!-- comment-detail -->
          </div><!-- testimonial-comment-inner -->
        </div><!-- testimonial-comment -->
      </div><!-- swiper-slide-->

    </div><!-- swiper-wrapper -->
  </div><!-- swiper -->
  <div class="swiper-controls">
    <div class="swiper-pagination"></div>

    <div class="swiper-nav swiper-button-prev">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
        <path d="M15 6C15 6 9.00001 10.4189 9 12C8.99999 13.5812 15 18 15 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    </div><!-- swiper-button-prev -->
    <div class="swiper-nav swiper-button-next">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
        <path d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    </div><!-- swiper-button-next -->
  </div><!-- swiper-controls -->
</div><!-- site-slider-wrapper -->
