<nav class="site-navigation menu-horizontal primary-menu">
  <ul class="menu">
    <li class="menu-item menu-item-has-children">
      <a href="/"><span class="menu-item-label">Home</span></a>
      <ul class="sub-menu">
        <li class="menu-item"><a href="#"><span class="menu-item-label">Homepage 01</span></a></li>
        <li class="menu-item"><a href="#"><span class="menu-item-label">Homepage 02</span></a></li>
        <li class="menu-item"><a href="#"><span class="menu-item-label">Homepage 03</span></a></li>
        <li class="menu-item"><a href="#"><span class="menu-item-label">Homepage 04</span></a></li>
        <li class="menu-item"><a href="#"><span class="menu-item-label">Homepage 05</span></a></li>
      </ul>
    </li>
    <li class="menu-item menu-item-has-children mega-menu mega-width-full">
      <a href="/"><span class="menu-item-label">What's On</span></a>
      <ul class="sub-menu">
        <li class="menu-item menu-item-has-children">
          <a href="#"><span class="menu-item-label">Ante diam pretium</span></a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Sed suscipit</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Fusce augue felis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
            <li class="menu-item menu-item-has-children">
              <a href="#"><span class="menu-item-label">Eleifend viverra</span></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Aenean vitae sodales</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="#"><span class="menu-item-label">Integer mattis arcu</span></a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Sed suscipit</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Fusce augue felis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Eleifend viverra</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quis lacus</span></a></li>
            <li class="menu-item menu-item-has-children">
              <a href="#"><span class="menu-item-label">Suspendisse quis</span></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Aenean vitae sodales</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="#"><span class="menu-item-label">Fusce augue felis</span></a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Sed suscipit</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Fusce augue felis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
            <li class="menu-item menu-item-has-children">
              <a href="#"><span class="menu-item-label">Eleifend viverra</span></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Aenean vitae sodales</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="#"><span class="menu-item-label">Vehicula metus quis</span></a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Sed suscipit</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Fusce augue felis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Eleifend viverra</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quis lacus</span></a></li>
            <li class="menu-item menu-item-has-children">
              <a href="#"><span class="menu-item-label">Suspendisse quis</span></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Aenean vitae sodales</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="#"><span class="menu-item-label">Habitant morbi tristique</span></a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Sed suscipit</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Fusce augue felis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
            <li class="menu-item menu-item-has-children">
              <a href="#"><span class="menu-item-label">Eleifend viverra</span></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Aenean vitae sodales</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item menu-item-has-children mega-menu mega-width-content">
      <a href="/"><span class="menu-item-label">Classes</span></a>
      <ul class="sub-menu">
        <li class="menu-item menu-item-has-children">
          <a href="#"><span class="menu-item-label">Ante diam pretium</span></a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Sed suscipit</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Fusce augue felis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
            <li class="menu-item menu-item-has-children">
              <a href="#"><span class="menu-item-label">Eleifend viverra</span></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Aenean vitae sodales</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="#"><span class="menu-item-label">Integer mattis arcu</span></a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Sed suscipit</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Fusce augue felis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Eleifend viverra</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quis lacus</span></a></li>
            <li class="menu-item menu-item-has-children">
              <a href="#"><span class="menu-item-label">Suspendisse quis</span></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Aenean vitae sodales</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="#"><span class="menu-item-label">Fusce augue felis</span></a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Sed suscipit</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Fusce augue felis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
            <li class="menu-item menu-item-has-children">
              <a href="#"><span class="menu-item-label">Eleifend viverra</span></a>
              <ul class="sub-menu">
                <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Aenean vitae sodales</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Suspendisse quis</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Tempus dolor posuere</span></a></li>
                <li class="menu-item"><a href="#"><span class="menu-item-label">Class aptent taciti</span></a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item menu-item-has-children">
      <a href="/"><span class="menu-item-label">Instructors</span></a>
      <ul class="sub-menu">
        <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
        <li class="menu-item"><a href="#"><span class="menu-item-label">Sed suscipit</span></a></li>
        <li class="menu-item menu-item-has-children">
          <a href="#"><span class="menu-item-label">Fusce augue felis</span></a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quisque sit amet</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Sed suscipit</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Fusce augue felis</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Eleifend viverra</span></a></li>
            <li class="menu-item"><a href="#"><span class="menu-item-label">Quis lacus</span></a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="#"><span class="menu-item-label">Eleifend viverra</span></a></li>
        <li class="menu-item"><a href="#"><span class="menu-item-label">Quis lacus</span></a></li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="/"><span class="menu-item-label">Journal</span></a>
    </li>
    <li class="menu-item">
      <a href="/"><span class="menu-item-label">Shop</span></a>
    </li>
    <li class="menu-item">
      <a href="/"><span class="menu-item-label">Contact</span></a>
    </li>
    <li class="menu-item menu-item-has-children">
      <a href="/"><span class="menu-item-label">Depth</span></a>
      <ul class="sub-menu">
        <li class="menu-item menu-item-has-children">
          <a href="#"><span class="menu-item-label">Level 01</span></a>
          <ul class="sub-menu">
            <li class="menu-item menu-item-has-children">
              <a href="#"><span class="menu-item-label">Level 02</span></a>
              <ul class="sub-menu">
                <li class="menu-item menu-item-has-children">
                  <a href="#"><span class="menu-item-label">Level 03</span></a>
                  <ul class="sub-menu">
                    <li class="menu-item menu-item-has-children">
                      <a href="#"><span class="menu-item-label">Level 04</span></a>
                      <ul class="sub-menu">
                        <li class="menu-item"><a href="#"><span class="menu-item-label">Level 05</span></a></li>
                      </ul>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
      </ul>
    </li>
  </ul>
</nav>
