<div class="site-holder search-holder">
  <div class="site-holder-inner">
    <div class="container">
      <div class="site-holder-body">
        <div class="site-search-form holder-search-form">
          {{> search-form}}
          {{> close-button}}
        </div><!-- site-search-form -->
        <div class="entry-description">
          <p>Please type the word you want to search for and press enter.</p>
        </div><!-- entry-description -->
      </div><!-- site-holder-body -->
    </div><!-- container -->
  </div><!-- site-holder-inner -->
  <div class="site-holder-overlay site-overlay"></div>
</div><!-- site-holder -->