<div class="site-slider-wrapper classes-style">
  <div class="site-slider swiper" data-items="1" data-items-tablet="1" data-items-mobile="1" data-slides-per-group="1" data-margin="5" data-margin-tablet="5" data-margin-mobile="5" data-autoplay="true" data-autoplay-speed="3000" data-direction="horizontal" data-loop="false" data-speed="400" data-mousewheel="false" data-simulate-touch="true">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="site-class-item text-style">
          <div class="site-class-inner">
            <div class="entry-class-header">
              <h3 class="entry-title"><a href="#" class="reversed-link">Ashtanga Yoga</a></h3>
              <div class="entry-excerpt">
                <p>Jänade sonat androbel triism. Din epivis fanat då dis i syntologi, parask. Monogälig astrostat.</p>
              </div><!-- entry-excerpt -->
            </div><!-- entry-class-header -->
            <div class="entry-class-footer">
              <div class="entry-meta">
                <div class="entry-meta-item entry-class-time">07:40 - 08:40</div>
                <div class="entry-meta-item class-instructor">
                  <span class="entry-meta-text">Instructor: <a href="#">Helen Jansson</a></span>
                </div>
              </div><!-- entry-meta -->
              <a href="#" class="btn btn-black btn-large w-100">Book Now</a>
            </div><!-- entry-class-footer -->
          </div><!-- site-class-inner -->
        </div><!-- site-class-item -->
      </div><!-- swiper-slide -->
      <div class="swiper-slide">
        <div class="site-class-item text-style">
          <div class="site-class-inner">
            <div class="entry-class-header">
              <h3 class="entry-title"><a href="#" class="reversed-link">Stress Relief Yoga</a></h3>
              <div class="entry-excerpt">
                <p>Jänade sonat androbel triism. Din epivis fanat då dis i syntologi, parask. Monogälig astrostat.</p>
              </div><!-- entry-excerpt -->
            </div><!-- entry-class-header -->
            <div class="entry-class-footer">
              <div class="entry-meta">
                <div class="entry-meta-item entry-class-time">07:40 - 08:40</div>
                <div class="entry-meta-item class-instructor">
                  <span class="entry-meta-text">Instructor: <a href="#">Helen Jansson</a></span>
                </div>
              </div><!-- entry-meta -->
              <a href="#" class="btn btn-black btn-large w-100">Book Now</a>
            </div><!-- entry-class-footer -->
          </div><!-- site-class-inner -->
        </div><!-- site-class-item -->
      </div><!-- swiper-slide -->
      <div class="swiper-slide">
        <div class="site-class-item text-style">
          <div class="site-class-inner">
            <div class="entry-class-header">
              <h3 class="entry-title"><a href="#" class="reversed-link">Hatha Yoga</a></h3>
              <div class="entry-excerpt">
                <p>Jänade sonat androbel triism. Din epivis fanat då dis i syntologi, parask. Monogälig astrostat.</p>
              </div><!-- entry-excerpt -->
            </div><!-- entry-class-header -->
            <div class="entry-class-footer">
              <div class="entry-meta">
                <div class="entry-meta-item entry-class-time">07:40 - 08:40</div>
                <div class="entry-meta-item class-instructor">
                  <span class="entry-meta-text">Instructor: <a href="#">Helen Jansson</a></span>
                </div>
              </div><!-- entry-meta -->
              <a href="#" class="btn btn-black btn-large w-100">Book Now</a>
            </div><!-- entry-class-footer -->
          </div><!-- site-class-inner -->
        </div><!-- site-class-item -->
      </div><!-- swiper-slide -->
    </div><!-- swiper-wrapper -->
  </div><!-- swiper -->
  <div class="swiper-controls">
    <div class="swiper-pagination"></div>
  
    <div class="swiper-nav swiper-button-prev">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
        <path d="M15 6C15 6 9.00001 10.4189 9 12C8.99999 13.5812 15 18 15 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    </div><!-- swiper-button-prev -->
    <div class="swiper-nav swiper-button-next">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
        <path d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    </div><!-- swiper-button-next -->
  </div><!-- swiper-controls -->
</div><!-- site-slider-wrapper -->
