<div class="site-slider-wrapper slider-style">
  <div class="site-slider swiper" data-items="1" data-items-tablet="1" data-items-mobile="1" data-slides-per-group="1" data-margin="0" data-margin-tablet="0" data-margin-mobile="0" data-autoplay="false" data-autoplay-speed="5000" data-direction="horizontal" data-loop="true" data-speed="1200" data-mousewheel="false" data-simulate-touch="true" data-parallax="false">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <div class="site-slider-content overlay-content">
          <div class="site-slider-body container d-flex flex-column align-items-end align-items-lg-start justify-content-between padding-top padding-bottom z-2 h-100" style="--pt: calc(var(--theme-header-height) + 20px); --pt-md: calc(var(--theme-header-height) + 20px); --pt-lg: calc(var(--theme-header-height-desktop) + 80px); --pb: 40px; --pb-md: 60px; --pb-lg: 60px;">
            <div class="site-slider-text site-text-block text-white max-width" style="--max-w: 100%; --max-w-md: 80%; --max-w-lg: 70%;">
              <div class="text-block-header">
                <h5 class="entry-subtitle subtitle-sm badge badge-text badge-text-white badge-rounded">Kosa völig porar reaaktiv dida</h5>
                <h2 class="entry-title title-8xl font-medium tracking-tighter leading-snug">Taking care of your mental health</h2>
              </div><!-- text-block-header -->
              <div class="text-block-body">
                <div class="entry-actions d-flex align-items-center gap-x-10">
                  <a href="#" class="btn btn-white btn-large inview-element" data-inview-animation="fade">Get started <i class="pp-arrow-up-right"></i></a>
                  <a href="#" class="btn btn-white btn-transparent btn-large inview-element" data-inview-animation="fade">Subscribe Now</a>
                </div><!-- entry-actions -->
              </div><!-- text-block-body -->
            </div><!-- site-slider-text -->
            <div class="d-flex flex-column align-items-start align-items-lg-end w-100">
              <div class="entry-description text-white opacity-75 max-width" style="--max-w: 100%; --max-w-md: 80%; --max-w-lg: 420px;">
                <p class="description-sm mb-0">Feel Good is offering a professional therapy for those in need making sure you can continue living your life.</p>
              </div><!-- entry-description -->
            </div>
          </div><!-- site-slider-body -->
          <div class="site-slider-media media-overlay height" style="--h: 70dvh; --h-md: 90dv; --h-lg: 100dvh; --media-overlay-opacity: 0.2;">
            <picture>
              <source
                media="(min-width: 568px)"
                data-srcset="assets/img/slider-02.jpg"
              />
              <source
                media="(max-width: 567px)"
                data-srcset="assets/img/slider-02-568w.jpg"
              />
              <img
                class="lazy"
                src="assets/img/slider-01-568w.jpg"
                data-src="assets/img/slider-02-568w.jpg"
                alt="Clear your mind whenever you want, wherever you are"
              />
            </picture>
          </div><!-- site-slider-media -->
        </div><!-- site-slider-content -->
      </div><!-- swiper-slide -->

      <div class="swiper-slide">
        <div class="site-slider-content overlay-content">
          <div class="site-slider-body container d-flex flex-column align-items-end align-items-lg-start justify-content-between padding-top padding-bottom z-2 h-100" style="--pt: calc(var(--theme-header-height) + 20px); --pt-md: calc(var(--theme-header-height) + 20px); --pt-lg: calc(var(--theme-header-height-desktop) + 80px); --pb: 20px; --pb-md: 40px; --pb-lg: 60px;">
            <div class="site-slider-text site-text-block text-white max-width" style="--max-w: 100%; --max-w-md: 80%; --max-w-lg: 70%;">
              <div class="text-block-header">
                <h5 class="entry-subtitle subtitle-sm badge badge-text badge-text-white badge-rounded">Kosa völig porar reaaktiv dida</h5>
                <h2 class="entry-title title-8xl font-medium tracking-tighter leading-snug">Taking care of your mental health</h2>
              </div><!-- text-block-header -->
              <div class="text-block-body">
                <div class="entry-actions d-flex align-items-center gap-x-10">
                  <a href="#" class="btn btn-white btn-large inview-element" data-inview-animation="fade">Get started <i class="pp-arrow-up-right"></i></a>
                  <a href="#" class="btn btn-white btn-transparent btn-large inview-element" data-inview-animation="fade">Subscribe Now</a>
                </div><!-- entry-actions -->
              </div><!-- text-block-body -->
            </div><!-- site-slider-text -->
            <div class="d-flex flex-column align-items-start align-items-lg-end w-100">
              <div class="entry-description text-white opacity-75 max-width" style="--max-w: 100%; --max-w-md: 80%; --max-w-lg: 420px;">
                <p class="description-sm mb-0">Feel Good is offering a professional therapy for those in need making sure you can continue living your life.</p>
              </div><!-- entry-description -->
            </div>
          </div><!-- site-slider-body -->
          <div class="site-slider-media media-overlay height" style="--h: 70dvh; --h-md: 90dv; --h-lg: 100dvh; --media-overlay-opacity: 0.2;">
            <video src="assets/img/video-03.mp4" autoplay muted loop playsinline></video>
          </div><!-- site-slider-media -->
        </div><!-- site-slider-content -->
      </div><!-- swiper-slide -->

    </div><!-- swiper-wrapper -->
  </div><!-- swiper -->
  <div class="swiper-controls">
    <div class="swiper-pagination"></div>
  
    <div class="swiper-nav swiper-button-prev">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
        <path d="M15 6C15 6 9.00001 10.4189 9 12C8.99999 13.5812 15 18 15 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    </div><!-- swiper-button-prev -->
    <div class="swiper-nav swiper-button-next">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
        <path d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    </div><!-- swiper-button-next -->
  </div><!-- swiper-controls -->
</div><!-- site-slider-wrapper -->