<div class="site-drawer cart-drawer">
  <div class="site-drawer-inner">
    <div class="site-drawer-row site-drawer-header flex items-center justify-between">
      <h3 class="entry-title">Your Cart</h3>
      {{> close-button}}
    </div><!-- site-drawer-row -->
    <div class="site-drawer-body">
      <div class="site-empty-content">
        <svg width="89" height="80" viewBox="0 0 89 80" fill="currentColor">
          <path d="M24.4444 53.3338H77.7778C78.8444 53.356 79.7778 52.6449 80 51.6005L88.8889 11.6005C89.0444 10.9338 88.8667 10.2449 88.4444 9.71158C88 9.17824 87.3556 8.86713 86.6667 8.88935H19.0222L17.7778 1.82269C17.5778 0.75602 16.6444 -0.0217579 15.5556 0.000464342H2.22222C1 0.000464342 0 1.00046 0 2.22269C0 3.44491 1 4.44491 2.22222 4.44491H13.7111L22.2222 51.5116C22.4222 52.5782 23.3556 53.356 24.4444 53.3338ZM83.8889 13.3338L76 48.8894H26.2889L19.8444 13.3338H83.8889Z"></path>
          <path d="M31.1101 62.2222C26.199 62.2222 22.2212 66.2 22.2212 71.1111C22.2212 76.0222 26.199 80 31.1101 80C36.0212 80 39.999 76.0222 39.999 71.1111C39.999 66.2 36.0212 62.2222 31.1101 62.2222ZM31.1101 75.5556C28.6656 75.5556 26.6656 73.5556 26.6656 71.1111C26.6656 68.6667 28.6656 66.6667 31.1101 66.6667C33.5545 66.6667 35.5545 68.6667 35.5545 71.1111C35.5545 73.5556 33.5545 75.5556 31.1101 75.5556Z"></path>
          <path d="M71.1101 62.2222C66.199 62.2222 62.2212 66.2 62.2212 71.1111C62.2212 76.0222 66.199 80 71.1101 80C76.0212 80 79.999 76.0222 79.999 71.1111C79.999 66.2 76.0212 62.2222 71.1101 62.2222ZM71.1101 75.5556C68.6656 75.5556 66.6656 73.5556 66.6656 71.1111C66.6656 68.6667 68.6656 66.6667 71.1101 66.6667C73.5545 66.6667 75.5545 68.6667 75.5545 71.1111C75.5545 73.5556 73.5545 75.5556 71.1101 75.5556Z"></path>
        </svg>
        <h4 class="entry-title">Your cart is empty!</h4>
        <div class="entry-description">
          <p>You may check out all the available products and buy some in the shop.</p>
        </div><!-- entry-description -->
        <a href="#" class="btn btn-secondary btn-large">Return to Shop</a>
      </div><!-- site-empty-content -->

      <div class="site-cart-content">
        <div class="products">
          <div class="product">
            <div class="product-thumbnail">
              <a href="#">
                <div class="product-gallery"><img src="https://placehold.co/400"></div>
              </a>
            </div><!-- product-thumbnail -->
            <div class="content-wrapper">
              <h4 class="product-title"><a href="#">Black Kevlar® Yoga Math</a></h4>
              <span class="price">
                <span class="quantitysa">1 × <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>11.33</bdi></span></span>	
              </span><!-- price -->
              <a href="#" class="remove remove_from_cart_button"><i class="pp-x"></i></a>
            </div><!-- content-wrapper -->
          </div><!-- product -->
          <div class="product">
            <div class="product-thumbnail">
              <a href="#">
                <div class="product-gallery"><img src="https://placehold.co/400"></div>
              </a>
            </div><!-- product-thumbnail -->
            <div class="content-wrapper">
              <h4 class="product-title"><a href="#">Black Kevlar® Yoga Math</a></h4>
              <span class="price">
                <span class="quantitysa">1 × <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>11.33</bdi></span></span>	
              </span><!-- price -->
              <a href="#" class="remove remove_from_cart_button"><i class="pp-x"></i></a>
            </div><!-- content-wrapper -->
          </div><!-- product -->
          <div class="product">
            <div class="product-thumbnail">
              <a href="#">
                <div class="product-gallery"><img src="https://placehold.co/400"></div>
              </a>
            </div><!-- product-thumbnail -->
            <div class="content-wrapper">
              <h4 class="product-title"><a href="#">Black Kevlar® Yoga Math</a></h4>
              <span class="price">
                <span class="quantitysa">1 × <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>11.33</bdi></span></span>	
              </span><!-- price -->
              <a href="#" class="remove remove_from_cart_button"><i class="pp-x"></i></a>
            </div><!-- content-wrapper -->
          </div><!-- product -->
        </div><!-- products -->
        <p class="woocommerce-mini-cart__total total">
          <strong>Subtotal:</strong> <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>52.42</bdi></span>
        </p><!-- woocommerce-mini-cart__total -->
        <p class="woocommerce-mini-cart__buttons buttons">
          <a href="https://klbtheme.com/grogin/cart/" class="btn size-sm wc-forward">View cart</a>
          <a href="https://klbtheme.com/grogin/checkout/" class="btn btn-primary checkout black outline size-sm wc-forward">Checkout</a>
        </p><!-- woocommerce-mini-cart__buttons -->
      </div><!-- site-cart-content -->
    </div><!-- site-drawer-body -->
  </div><!-- site-drawer-inner -->
  <div class="site-drawer-overlay site-overlay"></div>
</div><!-- site-drawer -->