<div class="site-announcement-bar">
  <div class="announcement-bar-inner animation-marquee has-dots" style="--marquee-speed: 45s; --marquee-gap-desktop: 28px; --marquee-gap-mobile: 30px;">
    <div class="marquee-column">
      <div class="marquee-item">Be sure to subscribe to the bulletin to be informed about innovations</div>
      <div class="marquee-item">Last 3 days until the new yoga classes open.</div>
      <div class="marquee-item">Register now and benefit from a 50% discount</div>
      <div class="marquee-item">Learn the best with our new pilates instructors</div>
    </div><!-- marquee-column -->
    <div class="marquee-column">
      <div class="marquee-item">Be sure to subscribe to the bulletin to be informed about innovations</div>
      <div class="marquee-item">Last 3 days until the new yoga classes open.</div>
      <div class="marquee-item">Register now and benefit from a 50% discount</div>
      <div class="marquee-item">Learn the best with our new pilates instructors</div>
    </div><!-- marquee-column -->
    <div class="marquee-column">
      <div class="marquee-item">Be sure to subscribe to the bulletin to be informed about innovations</div>
      <div class="marquee-item">Last 3 days until the new yoga classes open.</div>
      <div class="marquee-item">Register now and benefit from a 50% discount</div>
      <div class="marquee-item">Learn the best with our new pilates instructors</div>
    </div><!-- marquee-column -->
  </div><!-- announcement-bar -->
</div><!-- site-announcement-bar -->