<div class="site-customer-box size-md bg-white inview-element" data-inview-animation="transformX">
  <div class="customer-avatar">
    <img src="assets/img/customer-avatar-01.jpg" alt="">
  </div><!-- customer-avatar -->
  <div class="customer-content">
    <div class="rating-stars">
      <i class="pp-star"></i>
      <i class="pp-star"></i>
      <i class="pp-star"></i>
      <i class="pp-star"></i>
      <i class="pp-star"></i>
    </div><!-- rating-stars -->
    <h5 class="entry-title">Hanna Andersson</h5>
    <p class="text-gray-500">Intraktigt emskop bovunde plavis ån. Seken panas pseudonde, inte laktig i vatiska. Infrask telekabel och telen digynde. Ekonetik fyr som pros.</p>
  </div><!-- customer-content -->
</div><!-- site-customer-box -->