<div class="site-customer-box bg-white rounded-base border border-gray-200 inview-element" data-inview-animation="transformX">
  <div class="customer-avatar">
    <img src="assets/img/customer-avatar-02.jpg" alt="">
  </div><!-- customer-avatar -->
  <div class="customer-content">
    <div class="rating-stars">
      <i class="pp-star"></i>
      <i class="pp-star"></i>
      <i class="pp-star"></i>
      <i class="pp-star"></i>
      <i class="pp-star"></i>
    </div><!-- rating-stars -->
    <h5 class="entry-title">Hanna Andersson</h5>
    <p class="text-gray-500">Geodid abådade och båda elektrogram då lotigen fast ope tigon. Sav lolig ben.</p>
  </div><!-- customer-content -->
</div><!-- site-customer-box -->