<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">

  {{> css-files}}

  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
</head>
<body class="cookie-popup-enable newsletter-lightbox-enable" {{#if content-rounded}}class="content-rounded"{{/if}}>
  {{#if announcement-bar}}
    {{> announcement-bar}}
  {{/if}}
  <div id="page" class="page-content">
    {{#if subheader}}
      {{> subheader}}
    {{/if}}
    {{> header}}
    <div id="main" class="main-content">
      {{> body}}
    </div><!-- main-content -->
    {{> footer}}
  </div><!-- page-content -->

  <!-- PAGE LOADING -->
  {{#if loading}}
    {{> page-loading}}
  {{/if}}

  <!-- DRAWERS -->
  {{> cart-drawer}}
  {{> menu-drawer}}
  {{> search-holder}}
  {{> filter-drawer}}

  <!-- GO TO TOP -->
  {{> go-to-top}}

  <!-- SUBSCRIBE LIGHTBOX -->
  {{> subscribe-lightbox}}

  <!-- MOBILE NAVBAR -->
  {{> mobile-navbar}}

  <!-- GDPR -->
  {{> gdpr}}

  <!-- JS FILES -->
  {{> js-files}}
</body>
</html>