@use '../../utils/' as *;
@use '../root' as *;

.site-iconbox {
  &.horizontal {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(16);
    @include min(sm) {
      align-items: flex-start;
      flex-direction: row;
      gap: rem(32);
    }
    .iconbox-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      img, svg {
        width: rem(66);
        height: auto;
        @include min(sm) {
          width: rem(56);
        }
      }
    }
    .iconbox-content {
      text-align: center;
      @include min(sm) {
        text-align: left;
      }
      .entry-title {
        font-size: rem(16);
        font-weight: 600;
        @include min(sm) {
          font-size: rem(18);
        }
      }
      .site-iconbox-text {
        font-size: rem(14);
        color: color(gray-500);
      }
    }
  }
}