@use '../../utils/' as *;
@use '../root' as *;

.site-page-loading {
  position: fixed;
  display: grid;
  color: color(loading-foreground);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  & > * {
    grid-column: 1;
    grid-row: 1;
  }
  .site-page-loading-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    .page-loading-captions {
      font-size: rem(26);
      line-height: rem(26);
      letter-spacing: -0.03em;
      &-wrapper {
        display: block;
        overflow: hidden;
        height: 1.1em;
        .page-loading-caption {
          text-align: center;
          padding-top: rem(1);
          padding-bottom: rem(1);
        }
      }
    }
    .page-loading-count {
      font-size: rem(36);
      font-weight: 300;
      @include min(lg) {
        font-size: rem(96);
      }
    }
  }
  .site-page-loading-bg {
    width: 100%;
    height: 100%;
    background-color: color(loading-background);
  }
}